*{
    color:
     rgb(45, 45, 70);
}

body {
    padding: 0;
    margin: 0; 
    overflow-x: hidden!important;
}

h3{
    color:white
}

.main-head {
    background-color:#101058;
    /* background-color: rgb(45, 45, 70); */
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sign-out-button{
    background: transparent!important;
    border:none;
    color:#fff;
}

.sign-out-button:hover{
    cursor:pointer;
}


.header-links-container a{
    text-decoration: none;
}

.main-head div a{
    padding:0px 20px;
}


.main-head a {
    color:white;
}

.main-head h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:white;
    text-transform: uppercase;
}

main {
    margin-top: 80px;
}

.transportation-container{
    display: flex;
    flex-direction: column;
    margin:20px 60px;
}


.transportation-card{ 
    border:1px solid rgb(45, 45, 70);
    border-radius: 30px;
    height:240px;
    margin-bottom: 20px;
    padding:20px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}




.transportation-card-right button{
    margin-top: 20px;
    width: 100%;
    border-radius: 10px;
    background-color: #4CAF50;
    border:1px solid #4CAF50;
    padding:5px 0px;
    color:white;
    transition: background-color 0.5s ease;
}



.transportation-card-right button:hover{
    cursor:pointer;
    background-color: white;
    color:#4CAF50;
    
}